<div class="main-wrapper">
  <section class="spot-container">
    <div class="ui centered grid container">
      <div class="six wide column">
        <div class="ui segment">
          {{#if error}}
          <div class="top-header">              
            <h1 class="ui brown header">{{spot.name}}</h1>            
            <span>
              <a href="/spots/{{spot.id}}/edit"><i class="edit outline icon"></i></a>
              <a href="/spots/{{spot.id}}/delete"><i class="trash alternate outline icon"></i></a>
            </span>
          </div>
          {{!-- main info --}}
          <p>{{spot.description}}</p>
          
          <div class="ui list">
            <div class="item">
              <i class="map marker alternate icon"></i>
              <div class="content">{{spot.location}}</div>
            </div>
          </div>
          <div class="ui label">
            <i class="tag icon"></i> {{spot.price_range}}
          </div>
          {{#if spot.category}}
            <div class="ui label">
              {{spot.category}}
            </div>
          {{/if}}
          {{!-- meta information --}}
          <div class="ui feed">
            <div class="event">
              <div class="label">
                <img src="/public/assets/images/avatar-2027367_640.png" alt="avatar image">
              </div>
              <div class="content">
                <div class="summary">
                  <a href="#" class="user">{{spot.user.username}}</a>
                  <div class="date">{{parseTimeFrame spot.createdAt}}</div>
                </div>
                <div class="meta">
                  <a href="/spots/{{spot.id}}/like" class="like">
                    <i class="like icon"></i>{{spot.likes}} {{isPlural spot.likes}}
                  </a>
                  <a href="#" class="">
                    <i class="comment outline icon"></i>{{length spot.comments}} comments
                  </a>
                  <a href="#" class="">
                    <i class="star icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          {{!-- comments --}}
          <div class="ui threaded comments">
            <h3 class="ui dividing header">Comments</h3>
            {{#each spot.comments}}
              <div class="comment">
                <a href="#" class="avatar">
                  <img src="/public/assets/images/avatar-1.png" alt="avatar placeholder">
                </a>
                <div class="content">
                  <a href="#" class="author">{{this.user.username}}</a>
                  <div class="metadata">
                    <span class="date">{{parseTimeFrame this.createdAt}}</span>
                  </div>
                  <div class="text {{@index}}">{{this.content}}</div>
                  <input type="hidden" name="id" value="{{this.id}}">
                  
                  <div class="actions">
                    <a href="/comments/{{this.id}}/reply" class="reply"><i class="reply icon"></i></a>
                    <a href="/comments/{{this.id}}/like"><i class="heart outline icon"></i>{{this.likes}}</a>
                    <a href="/comments/{{this.id}}/delete"><i class="trash alternate outline icon"></i></a>
                    <a href="#"><i class="edit outline icon"></i></a>
                  </div>
                </div>
              </div>
            {{/each}}

            {{!-- add comment form --}}
            <form action="/comments/?spot={{spot.id}}&user={{currentUser}}" class="ui reply form" method="POST">
              <div class="field">
                <textarea name="comment" id=""></textarea>
              </div>

              <div class="btn-bottom">
                <button class="ui animated mini button" tabindex="0" type="submit">
                  <div class="visible content">Add comment</div>
                  <div class="hidden content">
                    <i class="comment alternate outline icon"></i>
                  </div>
                </button>
                <div class="ui animated mini button" tabindex="1">
                  <a href="/spots">
                    <div class="visible content">Back</div>
                    <div class="hidden content">
                      <i class="angle double left icon"></i>
                    </div>
                  </a>
                </div>
              </div>
            </form>
          </div>

          {{else}}
            <h2 class="ui centered grey header">Not Found</h2>
          {{/if}}
        </div>
      </div>
      <div class="ten wide column">
        <img src="/public/assets/images/spot-cafe-3537801_640.jpg" alt="" class="ui fluid image">
      </div>
    </div>
  </section>
</div>